.signup__form{
    background:rgb(221, 221, 221);
    width:50%;
    margin:5rem auto;
    height:50vh;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
}

.form-group{
    font-size:1rem;
}

.form-group input{
    width:20rem;
    margin:0.5rem 0;
    padding:0.3rem;
    border:none;
}

.form__error{
    color:red;
    font-size:0.7rem;
    margin:0.5rem 0;
    transition:0.5s all ease-in;
    animation-name: formAnime;
}

@keyframes formAnime {
        from{
            opacity:0;
        }
        to{
            opacity:1;
        }
}

form button{
    background:rgb(47, 47, 201);
    padding:0.3rem;
    color:white;
    text-align:center;
    width:5rem;
    outline:none;
    border:none;
    cursor:pointer;  
}

form button:hover{
    background:white;
    color:rgb(47, 47, 201);
}

.signup-links a{
    font-size:1rem;
    font-weight:bold;
    color:blue;
}
